.container {
    width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  .container > * {
    background-color: blue;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
  
  .header {
    grid-column: 1 / -1;
  }
  
  
  .main-content {
     grid-column: 1 / -1;
  }
  
  
  .footer {
    grid-column: 1 / -1;
  }